
/* dmc-Tabs-vertical */
.dmc-Tabs-vertical .mantine-Tabs-tabLabel {
  writing-mode: vertical-rl;
  transform: rotate(-0.5turn);
  font-size: 16;
}

.dmc-Tabs-vertical .mantine-Tabs-tab{
  padding-left: 0px;
}

.dmc-Tabs-vertical .mantine-Tabs-panel {
  padding-left: 5px;
}

.dmc-Tabs-all .maintine-Tabs-tab {
  font-size: 20;
  font-weight: bold;
}

.fac-AntdSpace-sideBar {
  /* position: fixed; */
  max-height: 85vh;
  overflow-y: auto;
  /* width: 40vh; */
}

.fac-AntdCollapse-sidebar {
  background: '#ffffff';
  border-top: 0.1rem solid #dddddd;
}

.fac-AntdCollapse-inline {
  background: '#ffffff';
}

.dmc-accordionMultiple {
  /* overflow-y: auto;
  max-height: 96vh; */
}

.dmc-Text-label {
  font-size: 14;
  font-family: Segoe UI; 
  font-weight: bold
}

.dmc-Text-label .dmc-Text-label-center {
  text-align: center,
}

.dmc-Text-sidebar-title {
  /* font-weight: bold; */
  font-family: Segoe UI;
}